<div id="zones_container" class="climates" style="width:100%;height:100%; top:0; position:absolute;left:0;z-index:0;">
<% 
tot=100
@climates.each do |climate| %>
  <%
  v = climate[:default] ? tot : (Math::E**(-(climate[:scale]/10000)*(climate[:distance]**2))*100).floor.to_i
  tot-=v
  (1..v).each do |i| %>
  <div class="zone" style="display:block; float:left;background-color:<%= climate[:color] %>;width:10%;height:10%;"><%= climate[:name] %>,<%= i %></div>
  <% 
  end
  end %>
</div>
<table style="width:20%; text-align:center;height:20%;position:absolute;top:35%; left:40%; margin:auto;z-index:100; background-color:rgba(255,255,255,0.7)">
  <tr>
    <td></td>
    <td><%= link_to "North", zone_select_path(@zone.x.to_int,@zone.y.to_int+1,@zone.z.to_int) %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= link_to "West", zone_select_path(@zone.x.to_int-1,@zone.y.to_int,@zone.z.to_int) %></td>
    <td><%= @zone.x.to_int %>, <%= @zone.y.to_int %>, <%= @zone.z.to_int %></td>
    <td><%= link_to "East", zone_select_path(@zone.x.to_int+1,@zone.y.to_int,@zone.z.to_int) %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to "South", zone_select_path(@zone.x.to_int,@zone.y.to_int-1,@zone.z.to_int) %></td>
    <td></td>
  </tr>
</table>
</div>