<h1>Listing zones</h1>

<table>
  <tr>
    <th>Visited</th>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zones.each do |zone| %>
  <tr>
    <td><%= zone.visited %></td>
    <td><%= zone.x %></td>
    <td><%= zone.y %></td>
    <td><%= zone.z %></td>
    <td><%= link_to 'Show', zone %></td>
    <td><%= link_to 'Edit', edit_zone_path(zone) %></td>
    <td><%= link_to 'Destroy', zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zone', new_zone_path %>
