<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @climate.name %>
</p>

<p>
  <b>Probability:</b>
  <%= @climate.probability %>
</p>

<p>
  <b>Color:</b>
  <%= @climate.color %>
</p>

<p>
  <b>Radius:</b>
  <%= @climate.radius %>
</p>

<p>
  <b>Scale:</b>
  <%= @climate.scale %>
</p>

<p>
  <b>Description:</b>
  <%= @climate.description %>
</p>

<p>
  <b>Interacts:</b>
  <%= @climate.interacts %>
</p>

<p>
  <b>Overlaps:</b>
  <%= @climate.overlaps %>
</p>

<p>
  <b>X:</b>
  <%= @climate.x %>
</p>

<p>
  <b>Y:</b>
  <%= @climate.y %>
</p>

<p>
  <b>Z:</b>
  <%= @climate.z %>
</p>
<p>
  <b>Default:</b>
  <%= @climate.default %>
</p>


<%= link_to 'Edit', edit_climate_path(@climate) %> |
<%= link_to 'Back', climates_path %>
